@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using SeaBattle.Client.Services;
@using SeaBattle.Shared.Hub;
@using SeaBattle.Shared.Player

@inject IJSRuntime JsRuntime
@inject ILocalStorageService LocalStorage

<div class="container centered-form">
    @if (Player is null)
    {
        <LoginComponent OnJoinButtonClick="JoinButtonClicked" />
    }
    else
    {
        <div class="text-center mb-3">
            <lable class="mb-5">
                <b>@Player.Name</b>
            </lable>
            <br/>
            <label>Welcome to the Sea Battle</label>

            <div class="text-center mb-1">
                Now postion your ships and press <b>Ready</b> button
            </div>
            <div class="field-container">
                <div class="@OwnFieldState">
                    <Battlefield Field="_field" FieldSize="Player.FieldSize" CellClicked="@FieldCellClicked"/>
                </div>
@*                 @if (Player.InProgress)
                {
                    <div class="@EnemyFieldState">
                        <Battlefield Field="_enemyField" FieldSize="Player.FieldSize" CellClicked="@EnemyFieldCellClicked"/>
                    </div>
                } *@
            </div>

            @if(true)
            {
                <div class="button-container">
                    <button class="btn btn-danger" disabled="@ClearButtonDisable" @onclick=ClearButtonClicked>Clear</button>
                    <button class="btn btn-success" disabled="@NotReady" @onclick=OnReadyButtonClick>Ready</button>
                </div>
            }
            else @if (Waiting)
            {
                <h3>Waiting for an opponent</h3>
            }
    </div>
    }
</div>

