@page "/"
@implements IAsyncDisposable
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject BattleState State
@inject IJSRuntime JsRuntime

<div class="content">
    <div class="row">
        <div class="col-md-8">
            @*         <div>
            <label for="size">Field size:</label>
            <input id="size" type="number" @bind-value=@State.Size @bind-value:event="onchange"/>
            </div> *@
            <div class="container d-grid gap-3">
                <div class="form-group">
                    <label>Enter username:</label>
                    <input type="text" @bind="_userName" @bind:event="onchange" />
                    <button class="btn btn-primary" @onclick="JoinGameClick" disabled="@_joined">Join Game</button>
                    <button class="btn btn-success" @onclick="ReadyClick" disabled="@(!_joined)">Ready!</button>
                </div>
                <div class="alert @_infoMessageClass" role="alert">
                    @_infoMessage
                </div>
            </div>
            <Battlefield OnCellClick=OnCellClick></Battlefield>
        </div>
        <div class="col-md-4">
            <label>Server messages:</label>
            <div>
                @if (_serverMessages.Count > 0)
                {
                <ul>
                    @foreach (var msg in _serverMessages)
                    {
                    <li>@msg</li>
                    }
                </ul>
                }
                else
                {
                <span>No messages yet</span>
                }
            </div>
        </div>
    </div>
</div>

@if (_clickPoint is not null)
{
    <h4>Point @_clickPoint.Value was clicked</h4>
}

@code {
    private HubConnection? _hubConnection;
    private (int x, int y)? _clickPoint = null;

    private bool _joined = false;
    private string? _userName = null;
    private string _infoMessage = "Please enter your name and click 'Join Game' button";
    private string _infoMessageClass = "alert-primary";
    private List<string> _serverMessages = new();


    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/battlehub"))
            .Build();

        _hubConnection.On<int, int>("AtackCell", (x, y) =>
        {
            _clickPoint = (x, y);
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    #region Hub events

    private async Task OnCellClick((int x, int y) cell)
    {
        _clickPoint = cell;

        if (_hubConnection is not null)
        {
            await _hubConnection.SendAsync("SendMessage", cell.x, cell.y);
        }
    }

    #endregion

    private async Task JoinGameClick()
    {
        if (string.IsNullOrEmpty(_userName))
        {
            await JsRuntime.InvokeVoidAsync("alert", "Please enter user name!");
        }
        else
        {
            _hubConnection?.On<string, string, bool>("JoinedTable", (userName, tableName, newTable) =>
            {
                var action = newTable ? "created" : "joined";
                var msg = $"{userName} {action} table {tableName}";

                _serverMessages.Add(msg);

                if(action.Equals("created"))
                {
                    _infoMessage = "Table is created. Waiting for opponent...";
                    _infoMessageClass = "alert-warning";
                    _joined = true;
                }
                else
                {
                    _infoMessage = $"{userName} joined the game table. Now let's put ships on the battlefield. Click 'Ready' button whenever you are done.";
                    _infoMessageClass = "alert-info";
                }

                InvokeAsync(StateHasChanged);
            });

            await _hubConnection?.SendAsync("JoinGroup", _userName)!;
        }
    }

    private async Task ReadyClick()
    {
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

}